*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
ul{
  display: flex;
  gap: 20px;
  
}
header{
  background-color:cyan;
  height: 3rem;
}

.container-card{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
}

  .card{
  width: calc((100% - 40px) / 3);
  box-sizing: border-box;
  background-color: grey;
}
.img{
  width: 100%;
}